@model             OracleCRUD.Models.Admin.UserDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableSpaceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableSpaceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileName)
        </dd>
    </dl>
    
    <form  method="post">
        <input asp-controller="Admin" asp-action="DeletePost" type="submit" value="Delete" class="btn btn-danger" asp-route-id="@Model.Id" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
